<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr />

    <div class="display-1 text-muted">Hello world!</div>
    <div class="display-2">Second</div>
    <div class="display-3">3 title</div>

    <hr />

    <div class="text-muted text-end">
        Додатковий <span class="display-5">текст</span>
    </div>

    <hr />

    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary">
                <span class="text-uppercase">Button primary</span>
            </button>
            <button class="btn btn-secondary">
                <span class="text-uppercase">Button primary</span>
            </button>
            <button class="btn btn-success">
                <span class="text-uppercase">Button success</span>
            </button>
            <button class="btn btn-danger">
                <span class="text-uppercase">Button danger</span>
            </button>
            <button class="btn btn-warning">
                <span class="text-uppercase">Button warning</span>
            </button>
            <button class="btn btn-info">
                <span class="text-uppercase">Button info</span>
            </button>
            <button class="btn btn-light">
                <span class="text-uppercase">Button light</span>
            </button>
            <button class="btn btn-dark">
                <span class="text-uppercase">Button dark</span>
            </button>
            <button class="btn btn-link">
                <span class="text-uppercase">Button link</span>
            </button>
            <a href="#" class="btn btn-link">
                <span class="text-uppercase">Button link</span>
            </a>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <div class="text-primary">My text</div>
            <div class="text-secondary">My text</div>
            <div class="text-success">My text</div>
            <div class="text-danger">My text</div>
            <div class="text-warning">My text</div>
            <div class="text-info">My text</div>
            <div class="text-light">My text</div>
            <div class="text-dark">My text</div>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">My button</button>
            <button class="btn btn-outline-secondary btn-sm">Редагувати</button>
            <button class="btn btn-outline-success">My button</button>
            <button class="btn btn-outline-danger">Видалити</button>
            <button class="btn btn-outline-warning">My button</button>
            <button class="btn btn-outline-info">My button</button>
            <button class="btn btn-outline-light">My button</button>
            <button class="btn btn-outline-dark">My button</button>
        </div>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>