<main class="p-5">
    <h1>
        Hello! <i class="bi bi-emoji-smile-fill"></i>
        <i class="fa-brands fa-slack fa-beat-fade fa-xl" style="color: #ae00ff;"></i>
    </h1>

    <h5>
        Phone card <i class="bi bi-sd-card"></i>
        <i class="fa-brands fa-slack fa-beat-fade fa-xl" style="color: #ae00ff;"></i>
    </h5>

    <button class="btn btn-primary">
        <i class="bi bi-sd-card-fill"></i>
        <i class="fa-brands fa-slack fa-beat-fade fa-xl" style="color: #ae00ff;"></i>
    </button>

    <div>
        <img src="/svg/slack.svg">
    </div>
</main>