<div>
    {{!-- <h2>{{title}}</h2> --}}
    {{#if big}}
    <h2 class="mb-5">{{title}}</h2>
    {{else}}
    <h3 class="mb-3">{{title}}</h3>
    {{/if}}
</div>

<style>
    h2 {
        color: green;
    }

    h3 {
        color: green;
    }
</style>